<!DOCTYPE html>
<html>
<head>
  <title>SenchaTouchApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link type="text/css" rel="stylesheet" href="assets/NotesApp/resources/css/app.css" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
